html {
    background-image: url(images/Mainimg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #bfbee8;
    z-index: 0;
}

.nav {
    background-color: transparent;
    margin-top: -770px;
    margin-left: 650px;
}






























